* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  color: #000;
  padding: 0;
  margin: 0;
}

/* Start styling */
header {
  position: fixed;
  z-index: 99;
  height: 120px;
  background-color: #f5f5f5;
  width: 100%;
}

.toggle-label,
#toggle-nav-list {
  display: none;
}

.navbar {
  padding: 0 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.navbar .logo {
  margin-right: auto;
  color: #265b5c;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -2px;
  align-items: center;
}
.navbar .nav-list {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-list .nav-item a {
  color: #265b5c;
  font-size: 1.2rem;
}
.navbar .icons {
  gap: 2rem;
  margin-left: auto;
  color: #265b5c;
  display: flex;
  font-size: 1.2rem;
}
.navbar .icons i {
  margin-right: 1rem;
}

/*Main*/
main {
  padding-top: 120px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1978&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.8;
}
.banner .banner-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner .banner-text .banner-text-time {
  font-size: 1.5rem;
}
.banner .banner-text .banner-text-title {
  font-size: 4rem;
  letter-spacing: 0.05rem;
  margin: 1.2rem 0;
  border-top: 2px solid #fff;
  border-bottom: 3px solid #fff;
}
.banner .banner-text .banner-text-products {
  font-size: 1.8rem;
}

.black {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  opacity: 0.3;
}

/*Container*/
.container {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
}
.container .photo-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.container .card {
  height: 80vh;
  flex: 1;
  position: relative;
}
.container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.container .card .photo-text {
  background-color: #fff;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  height: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  position: absolute;
  color: #265b5c;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
}
.container .card .photo-text a {
  font-size: 1.1rem;
  color: #265b5c;
  letter-spacing: -0.5px;
  border-bottom: 1px solid #265b5c;
}
.container .card .photo-text a:hover {
  opacity: 0.7;
  transition: all 0.2s ease-out;
}

.card2 {
  background-color: #ffb856;
  padding: 40px;
  text-align: center;
  color: #265b5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.card2 .card2-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
.card2 .card2-text .card2-title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -1.1px;
  margin-bottom: 2rem;
}
.card2 .card2-text p {
  font-size: 1.1rem;
}
.card2 .card2-text .card2-btn {
  border: none;
  background-color: #265b5c;
  width: 50%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  height: 15%;
}
.card2 .card2-text .card2-btn:hover {
  font-size: 1.1rem;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
}

/*Album*/
.album {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.album .album-text {
  text-align: center;
  color: #265b5c;
}
.album .album-text h3 {
  font-size: 2rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.album .album-text h4 {
  font-weight: 300;
}
.album .album-photos {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  display: grid;
  padding: 0 40px;
  justify-content: space-between;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 250px);
}
.album .album-photos img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

footer {
  display: flex;
  background-color: #f5f5f5;
  height: 300px;
  width: 100%;
  padding: 45px;
  gap: 2rem;
}
footer .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-text {
  flex: 1;
  display: flex;
  gap: 3rem;
  height: 100%;
  flex-direction: column;
  align-items: start;
}
footer .footer-text .footer-title {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #265b5c;
}
footer .footer-text .footer-desc,
footer .footer-text .footer-desc a {
  display: block;
  line-height: 2rem;
  color: #265b5c;
}

/*Media*/
@media screen and (max-width: 1200px) {
  .navbar {
    position: relative;
  }
  .navbar .nav-list {
    all: unset;
    position: absolute;
    flex-direction: column;
    top: 100%;
    background-color: #f5f5f5;
    padding: 30px;
    right: 0;
    width: 100%;
    text-align: end;
    transform: scale(1, 0);
  }
  .navbar .nav-list .nav-item {
    font-size: 2rem;
    opacity: 0;
  }
  .navbar .icons {
    margin-left: 0;
  }
  .toggle-label {
    display: block;
    cursor: pointer;
  }
  #toggle-nav-list:checked ~ .nav-list {
    transform: scale(1, 1);
    transition: transform 0.2s ease-out;
    transform-origin: top;
  }
  #toggle-nav-list:checked ~ .nav-list > .nav-item {
    margin-bottom: 1.2rem;
    opacity: 1;
  }
  .banner .banner-text .banner-text-title {
    text-align: center;
  }
  .banner .banner-text .banner-text-products {
    text-align: center;
  }
  .container {
    height: 100%;
  }
  .container .photo-wrapper {
    flex-direction: column;
  }
  .container .photo-wrapper .card {
    height: 300px;
    width: 100%;
    flex: none;
  }
  .container .photo-wrapper .card img {
    height: 300px;
    -o-object-position: 50% 25%;
       object-position: 50% 25%;
  }
  .container .photo-wrapper .card .photo-text {
    width: 90%;
    height: 100px;
    top: 50%;
  }
  .card2 .card2-text p {
    margin-bottom: 1rem;
  }
  .card2 .card2-text .card2-btn {
    height: auto;
  }
  .album .album-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .banner .banner-text .banner-text-title {
    font-size: 2.8rem;
  }
  .banner .banner-text .banner-text-products {
    font-size: 1.2rem;
  }
  .banner .banner-text .icons {
    margin: 0 auto;
  }
  .card2 .card2-text p {
    display: none;
  }
  footer {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  footer .footer-text {
    padding: 30px;
    gap: 1rem;
  }
  footer .footer-title {
    margin-top: 10px;
  }
}/*# sourceMappingURL=styles.css.map */